
.box{
    width: 55%;
    margin: 20px auto;
    text-align: left;
}
.btn-pad{
    padding: 6px 50px;
}
.btn-mar{
    margin-bottom: 10px;
    margin-left: 5PX;
}
.intro-box{
    width: 60%;
    height: 100px;
    margin: 5% auto 0 auto;
}
.ol-font{
    text-align: center;
    font-size:5vh;
}
.r-box{
    text-align: left;
}
#s-btn{
    opacity: 1;
}
.input-table{
    width: 30vh;
    position: relative;
}
#tips{
    color: brown;
}
.opt2{
   display: flex;
   justify-content: center;
}
.opt2 div{
    margin-right: 10px;
}